In [1]:
import pandas as pd

In [2]:
csv_file_path_restaurants = '/home/mkm/programin/Marke_Analysis_Project_Google/Data/Data_process/restaurants.csv'
csv_file_path_users = '/home/mkm/programin/Marke_Analysis_Project_Google/Data/Data_process/users.csv'
csv_file_path_reviews = '/home/mkm/programin/Marke_Analysis_Project_Google/Data/Data_process/reviews.csv'

In [5]:
df_restaurant = pd.read_csv(csv_file_path_restaurants)
df_users = pd.read_csv(csv_file_path_users)
df_reviews = pd.read_csv(csv_file_path_reviews)

/tmp/ipykernel_21119/2623884033.py:3: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df_reviews = pd.read_csv(csv_file_path_reviews)

In [4]:
df_reviews.drop_duplicates(subset=['user_id'], inplace=True)

In [6]:
df_users.drop_duplicates(subset=['user_id'], inplace=True)

In [7]:
df_restaurant.drop_duplicates(subset=['restaurant_id'],inplace=True)

In [15]:
df_reviews

,user_id,restaurant_id,stars,text,date
0,f10WH1fXhy-68r4AEEhAWA,9OG5YkX1g2GReZM0AskizA,4.0,Great bar Happy Hour 4-7 every day. Wine & Dra...,2016-01-30
1,-TbX3AYOIEyo6-b67MT8eA,9OG5YkX1g2GReZM0AskizA,1.0,"Please, this place makes a semi-new menu and r...",2013-04-11
2,mR1GTyurdcuhq7LE90V2Eg,9OG5YkX1g2GReZM0AskizA,1.0,"Food showed up cold, salmon was raw inside, pl...",2016-04-23
3,zira3StlLXuENbbnTvNhMg,9OG5YkX1g2GReZM0AskizA,5.0,Troy and his staff always make it a really goo...,2017-04-30
4,6Ym-TckIrEDa5YkIPDcA2Q,9OG5YkX1g2GReZM0AskizA,1.0,First off if there was a lesser rating I could...,2015-02-16
...,...,...,...,...,...
1069812,117263805536482361344.0,0x54c0130cc548cd63:0xa29f0adee930ffef,5.0,NaN,2021-04-08
1069813,113302323755610243072.0,0x54c0130cc548cd63:0xa29f0adee930ffef,4.0,NaN,2020-07-11
1069814,109236947409069260800.0,0x54c0130cc548cd63:0xa29f0adee930ffef,5.0,NaN,2020-08-10
1069815,104066465314677243904.0,0x54c0130cc548cd63:0xa29f0adee930ffef,5.0,NaN,2020-07-19
1069816,108507244969226518528.0,0x54c0130cc548cd63:0xa29f0adee930ffef,5.0,NaN,2020-06-26

In [9]:
# Unir df_reviews con df_users en base a la columna user_id
merged_df = df_reviews.merge(df_users, on='user_id', how='inner')

# Unir el DataFrame combinado anterior con df_restaurant en base a la columna restaurant_id
merged_df = merged_df.merge(df_restaurant, on='restaurant_id', how='inner')

In [13]:
merged_df.drop(columns=['name_y','name_x'],axis=1,inplace=True)

In [18]:
merged_df.drop(columns=['address'],axis=1,inplace=True)

In [19]:
merged_df

,user_id,restaurant_id,stars,text,date
0,f10WH1fXhy-68r4AEEhAWA,9OG5YkX1g2GReZM0AskizA,4.0,Great bar Happy Hour 4-7 every day. Wine & Dra...,2016-01-30
1,f10WH1fXhy-68r4AEEhAWA,9OG5YkX1g2GReZM0AskizA,5.0,Great bar Happy Hour 4-7 every day. Wine & Dra...,2016-02-27
2,-TbX3AYOIEyo6-b67MT8eA,9OG5YkX1g2GReZM0AskizA,1.0,"Please, this place makes a semi-new menu and r...",2013-04-11
3,mR1GTyurdcuhq7LE90V2Eg,9OG5YkX1g2GReZM0AskizA,1.0,"Food showed up cold, salmon was raw inside, pl...",2016-04-23
4,zira3StlLXuENbbnTvNhMg,9OG5YkX1g2GReZM0AskizA,5.0,Troy and his staff always make it a really goo...,2017-04-30
...,...,...,...,...,...
917498,1.0088158748226829e+20,0x808de6a9d6491243:0x6d3c47da66203ea1,5.0,They always have great shows.,2019-07-13
917499,1.115553837672979e+20,0x808de6a9d6491243:0x6d3c47da66203ea1,5.0,Paperwing Theatre is a must see experience.\nT...,2018-10-19
917500,1.0137236716271008e+20,0x808de6a9d6491243:0x6d3c47da66203ea1,4.0,Great little place with wonderful actors and b...,2018-05-28
917501,1.005093665561502e+20,0x808de6a9d6491243:0x6d3c47da66203ea1,5.0,"Small, intimate, welcoming and with interestin...",2019-09-13
917502,1.0642809514900064e+20,0x808de6a9d6491243:0x6d3c47da66203ea1,5.0,Fantastic!,2019-10-21

In [5]:
# Tomar los Ãºltimos 1000 registros
df_last_1000 = df_users.iloc[-10000:]

# Exportar los Ãºltimos 1000 registros a un archivo CSV
df_last_1000.to_csv('/home/mkm/programin/Marke_Analysis_Project_Google/Data/Data_process/Data/Data_process/carga_incremental.csv', index=False)

In [ ]:
df_users.to_csv('/home/mkm/programin/Marke_Analysis_Project_Google/Data/Data_process/users.csv', index=False)

In [12]:
df_restaurant

,restaurant_id,name,address,latitude,longitude,rating,review_count,categories,Restaurant,geometry
0,0x80c2bd16e61206a1:0xfb13d068c2ef35b2,Baja California Tacos - Broxton,"Baja California Tacos - Broxton, 935 Broxton A...",34.062997,-118.447253,3.5,18,['Restaurant'],1,POINT (-118.447253 34.062997)
1,0x54959f47009b98ef:0x37ca8bf3c925b25d,Birrieria Jalisco,"Birrieria Jalisco, 7474 SE 72nd Ave, Portland,...",45.468931,-122.588930,5.0,24,['Restaurant'],1,POINT (-122.58893 45.4689307)
2,0x808e20cf4dd5a711:0x15ffcd1279d2ce48,Marie Callender's,"Marie Callender's, 18599 Sutter Blvd, Morgan H...",37.149341,-121.657378,3.4,18,['Restaurant'],1,POINT (-121.6573778 37.1493415)
3,0x8094609399c90739:0x330f635ae43822c4,BBQ Bob,"BBQ Bob, 1214 Jones Ave, Fresno, CA 93706",36.724913,-119.808541,4.7,18,['Restaurant'],1,POINT (-119.8085406 36.7249131)
4,0x54d0149639a3ddff:0x28955ccf21d84e20,She-She's,"She-She's, 9950 US-199, Gasquet, CA 95543",41.845648,-123.976411,2.8,16,['Restaurant'],1,POINT (-123.9764105 41.845648)
...,...,...,...,...,...,...,...,...,...,...
23166,IeSD0nMKRFYUTnR5nZH1CQ,HighWire Lounge,14 S Arizona Ave,32.221828,-110.967969,3.5,111,"Bars, Tapas Bars, Restaurants, Nightlife, Gast...",1,POINT (-110.9679691 32.2218278)
23167,uriD7RFuHhLJeDdKaf0nFA,Pizza Guru,3534 State St,34.440689,-119.739681,4.0,299,"Restaurants, Pizza, Food",1,POINT (-119.7396807 34.4406893)
23168,-R9t30RvsG-Rtiq63yuEmg,Crescent No Lawyers Bar-Grill,5500 W Franklin Rd,43.603368,-116.250063,2.5,55,"American (Traditional), Nightlife, Bars, Resta...",1,POINT (-116.2500630319 43.6033677673)
23169,w_4xUt-1AyY2ZwKtnjW0Xg,Bittercreek Alehouse,246 N 8th St,43.616590,-116.202383,4.5,998,"Bars, Gastropubs, Sandwiches, Nightlife, Resta...",1,POINT (-116.2023831706 43.6165895082)
23170,cM6V90ExQD6KMSU3rRB5ZA,Dutch Bros Coffee,1181 N Milwaukee St,43.615401,-116.284689,4.0,33,"Cafes, Juice Bars & Smoothies, Coffee & Tea, R...",1,POINT (-116.2846892411 43.6154010991)

In [10]:
df_restaurant

,restaurant_id,name,address,latitude,longitude,rating,review_count,categories,Restaurant,geometry
0,0x80c2bd16e61206a1:0xfb13d068c2ef35b2,Baja California Tacos - Broxton,"Baja California Tacos - Broxton, 935 Broxton A...",34.062997,-118.447253,3.5,18,['Restaurant'],1,POINT (-118.447253 34.062997)
1,0x54959f47009b98ef:0x37ca8bf3c925b25d,Birrieria Jalisco,"Birrieria Jalisco, 7474 SE 72nd Ave, Portland,...",45.468931,-122.588930,5.0,24,['Restaurant'],1,POINT (-122.58893 45.4689307)
2,0x808e20cf4dd5a711:0x15ffcd1279d2ce48,Marie Callender's,"Marie Callender's, 18599 Sutter Blvd, Morgan H...",37.149341,-121.657378,3.4,18,['Restaurant'],1,POINT (-121.6573778 37.1493415)
3,0x8094609399c90739:0x330f635ae43822c4,BBQ Bob,"BBQ Bob, 1214 Jones Ave, Fresno, CA 93706",36.724913,-119.808541,4.7,18,['Restaurant'],1,POINT (-119.8085406 36.7249131)
4,0x54d0149639a3ddff:0x28955ccf21d84e20,She-She's,"She-She's, 9950 US-199, Gasquet, CA 95543",41.845648,-123.976411,2.8,16,['Restaurant'],1,POINT (-123.9764105 41.845648)
...,...,...,...,...,...,...,...,...,...,...
23166,IeSD0nMKRFYUTnR5nZH1CQ,HighWire Lounge,14 S Arizona Ave,32.221828,-110.967969,3.5,111,"Bars, Tapas Bars, Restaurants, Nightlife, Gast...",1,POINT (-110.9679691 32.2218278)
23167,uriD7RFuHhLJeDdKaf0nFA,Pizza Guru,3534 State St,34.440689,-119.739681,4.0,299,"Restaurants, Pizza, Food",1,POINT (-119.7396807 34.4406893)
23168,-R9t30RvsG-Rtiq63yuEmg,Crescent No Lawyers Bar-Grill,5500 W Franklin Rd,43.603368,-116.250063,2.5,55,"American (Traditional), Nightlife, Bars, Resta...",1,POINT (-116.2500630319 43.6033677673)
23169,w_4xUt-1AyY2ZwKtnjW0Xg,Bittercreek Alehouse,246 N 8th St,43.616590,-116.202383,4.5,998,"Bars, Gastropubs, Sandwiches, Nightlife, Resta...",1,POINT (-116.2023831706 43.6165895082)
23170,cM6V90ExQD6KMSU3rRB5ZA,Dutch Bros Coffee,1181 N Milwaukee St,43.615401,-116.284689,4.0,33,"Cafes, Juice Bars & Smoothies, Coffee & Tea, R...",1,POINT (-116.2846892411 43.6154010991)

468689 rows Ã— 2 columns

In [20]:
merged_df.to_csv('/home/mkm/programin/Marke_Analysis_Project_Google/Data/Data_process/reviews.csv',index=False)

In [14]:
df_restaurant.to_csv('/home/mkm/programin/Marke_Analysis_Project_Google/Data/Data_process/restaurants.csv',index=False)
df_reviews.to_csv('/home/mkm/programin/Marke_Analysis_Project_Google/Data/Data_process/users.csv',index=False)
df_users.to_csv('/home/mkm/programin/Marke_Analysis_Project_Google/Data/Data_process/reviews.csv',index=False)